.btnY{

	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#6BF98C),
		to(#0b782d));
	border-radius: 7px;
	border: 2px solid #000000;
	box-shadow:
		2px 2px 11px rgba(000,000,000,0.7),
		inset 0px 0px 1px rgba(153,66,141,1);
	text-shadow:
		2px 2px 0px rgba(0,0,0,0.3),
		0px 1px 0px rgba(255,255,255,0.3);
}


.btnN {
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#DB69A9),
		to(#3b0823));
	border-radius: 7px;
	border: 2px solid #000000;
	box-shadow:
		2px 2px 11px rgba(000,000,000,0.7),
		inset 0px 0px 1px rgba(153,66,141,1);
	text-shadow:
		2px 2px 0px rgba(0,0,0,0.3),
		0px 1px 0px rgba(255,255,255,0.3);
}

.btnY:active{
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#0ffa46),
		to(#075820));

}
.btnN:active {
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#BC257A),
		to(#3D0422));
}
.btnMaster{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #ffffff;
	padding: 10px 20px;
	display: inline-table;
	position: relative;
	width: 43%;
	margin: 10px;
}

